body{
	background-color: khaki;
	margin: 100px 75px;
}

h1{
	color: saddlebrown;
}

input{
	background-color: black;
	color: white;
	border: 5px;
	border-radius: 25px;
}

input:hover {
	background-color: darkcyan;
	color: plum;
	}
h2 {
	color: royalblue; 
	font-family: Verdana; 
}