body {
	background-color: palegoldenrod;
}

.topnav a{
	background-color: darkseagreen;
	color: brown;
	float: left;
	text-align: center;
	padding: 14px 16px;
	font-weight: bold;
	font-size: 17px;
	font-family: Monaco;
	text-decoration: none;
}
.topnav {
    position: fixed;
    width: 98%;
	background-color: darkseagreen;
	overflow: hidden;
}

 
.topnav a:hover{
	color: white;
	background-color: black;
}
.topnav a.active{
	background-color: lightpink;
}

a.link{
	color: brown;
}

a.link:hover{
	color: darkolivegreen;
}

a.link:visited{
	color: steelblue;
}

.centre{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
p{
	margin-left: 50px;
	margin-right: 50px;
	text-indent: 15px;
	font-family: Helvetica;
}
h1{
	text-align: center;
	font-family: "Lucida Handwriting";
}
h2{
	text-align: center;
	color: Sienna;
}
.maintext{
	background-color: tan;
	border: 5px solid maroon;
	border-radius: 30px;
	margin: 20px;
	padding: 15px;
}