body {
	background-color: gold;
	margin: 25px;
	
	
	
	
	
	
	
	
	
	
	
	
	
}
button { 
margin: 50px;
margin-right: 50px;
}
#Algs {
margin:20px;
width: 130px;
}


#Tp {
margin:20px;
width: 130px;

}
