body {
	background-color: midnightblue;
	margin: 50px;
}

div {
	background-color: seashell;
	padding: 25px 50px;
	color: dodgerblue;
}

a, h1 {
	color: dodgerblue;
}

th,td {
	border: 2px solid dodgerblue;
	text-align: center;
	padding: 5px
}

table {
	border-collapse: collapse;
}

